@import 'config';

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    height: auto;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;

    .footer {
        display: flex;
        justify-content: space-between;
        max-width: 1080px;
        width: 100%;
        color: $gray;
    }
}

@media screen and (max-width: 1000px) {
    footer {
        font-size: 1rem;

        .footer {
            flex-direction: column;
            align-items: center;
        }
    }
}